body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    grid-template-rows: 300px 300px;
    /* row-gap: 10px;
    column-gap: 15px; */
    gap: 5px 25px;
    /* justify-content: center; */
    /* align-content: space-between; */
    /* justify-items: center; */
    /* align-items: center; */
    place-content: center space-between;
    place-items:center center ;


}

.item{
    height: 100vh;
    background: blue;
    color: white;
    height: 100px;
    width: 100px;
    font-weight: 700;
    border: 1px solid red;
    padding: 1rem;
}