body {
    margin: 0;
  }
  .container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(500px, 1fr) 100px;
    grid-auto-flow: row;
    /* grid-auto-columns: 500px;
    background: green; */
  }
  
  .item {
    background: blue;
    color: white;
    font-weight: 700;
    border: 1px solid red;
    padding: 1rem;
  }

  